@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navsection{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white
}
.proSection{
    display: flex;
}
.imgBox{
    width: 80%;
    padding-left: 20px;
}

.proImage{
    width: 80%;
}